///////////////////////////////////////////////
/// FONT SIZE SETTINGS: start
///////////////////////////////////////////////
.no-font-size {
	font-size: 0px;
}

.main-font-size {
	font-size: 14px;
}

.large-font-size {
	font-size: 18px;
}

.small-font-size {
	font-size: 10px;
}
///////////////////////////////////////////////
/// FONT SIZE SETTINGS: start
///////////////////////////////////////////////



///////////////////////////////////////////////
/// HEADER TITLE SETTINGS: start
///////////////////////////////////////////////
.h1 {
	font-size: 24px;
	font-weight: bold;
}

.h2 {
	font-size: 22px;
	font-weight: bold;
}

.h3 {
	font-size: 18px;
	font-weight: bold;
}

.h4 {
	font-size: 16px;
	font-weight: bold;
}

.h5 {
	font-size: 12px;
	font-weight: bold;
}

.h6 {
	font-size: 10px;
	font-weight: bold;
}
///////////////////////////////////////////////
/// HEADER TITLE SETTINGS: end
///////////////////////////////////////////////