body {
  margin: 0 !important;
  padding: 0;
  background-color: #ffffff;
  /* edit */ }

table {
  border-spacing: 0;
  font-family: sans-serif;
  color: #333333;
  /* edit */ }

td {
  padding: 0; }

img {
  border: 0; }

div[style*="margin: 16px 0"] {
  margin: 0 !important; }

.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.webkit {
  max-width: 600px;
  /* edit - make sure width matches the width in the ghost table underneath webkit class and outer class in markup */
  margin: 0 auto; }

.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
  /* edit - make sure width matches the width in the ghost table underneath webkit class and webkit class in markup */ }

.inner {
  padding: 10px !important; }

p {
  Margin: 0; }

.mail-image {
  width: 100%;
  max-width: 280px;
  height: auto; }

.spacer-5-mobile {
  padding: 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-10-mobile {
  padding: 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-15-mobile {
  padding: 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-20-mobile {
  padding: 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-30-mobile {
  padding: 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-40-mobile {
  padding: 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-5 {
  padding: 5px 0 0 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-10 {
  padding: 10px 0 0 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-15 {
  padding: 15px 0 0 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-20 {
  padding: 20px 0 0 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-30 {
  padding: 30px 0 0 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.spacer-40 {
  padding: 40px 0 0 0 !important;
  font-size: 0;
  height: 0;
  margin: 0; }

.PT-0 {
  padding-top: 0px !important; }

.PT-10 {
  padding-top: 10px !important; }

.PT-15 {
  padding-top: 15px !important; }

.PT-20 {
  padding-top: 20px !important; }

.PT-30 {
  padding-top: 30px !important; }

.PT-40 {
  padding-top: 40px !important; }

.PB-0 {
  padding-bottom: 0px !important; }

.PB-10 {
  padding-bottom: 10px !important; }

.PB-15 {
  padding-bottom: 15px !important; }

.PB-20 {
  padding-bottom: 20px !important; }

.PB-30 {
  padding-bottom: 30px !important; }

.PB-40 {
  padding-bottom: 40px !important; }

.body {
  margin: 0 auto; }

.container,
.email-container,
.row {
  width: 600px;
  margin: 0 auto; }

table {
  border-collapse: collapse; }

td {
  padding: 0 !important; }

.one-col {
  width: 100%;
  max-width: 600px;
  display: inline-block;
  vertical-align: top; }

.two-col {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top; }

.three-col {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: top; }

.four-col {
  width: 100%;
  max-width: 150px;
  display: inline-block;
  vertical-align: top; }

.ta-l {
  text-align: left; }

.ta-r {
  text-align: right; }

.ta-c {
  text-align: center; }

.td-u {
  text-decoration: underline; }

.full-width-image {
  width: 100%;
  max-width: 600px;
  height: auto; }

.mt-1 {
  Margin-top: 1px; }

.mt-2 {
  Margin-top: 2px; }

.mt-3 {
  Margin-top: 3px; }

.mt-4 {
  Margin-top: 4px; }

.mt-5 {
  Margin-top: 5px; }

.mt-6 {
  Margin-top: 6px; }

.mt-7 {
  Margin-top: 7px; }

.mt-8 {
  Margin-top: 8px; }

.mt-9 {
  Margin-top: 9px; }

.mt-10 {
  Margin-top: 10px; }

.mt-11 {
  Margin-top: 11px; }

.mt-12 {
  Margin-top: 12px; }

.mt-13 {
  Margin-top: 13px; }

.mt-14 {
  Margin-top: 14px; }

.mt-15 {
  Margin-top: 15px; }

.mt-16 {
  Margin-top: 16px; }

.mt-17 {
  Margin-top: 17px; }

.mt-18 {
  Margin-top: 18px; }

.mt-19 {
  Margin-top: 19px; }

.mt-20 {
  Margin-top: 20px; }

.mt-21 {
  Margin-top: 21px; }

.mt-22 {
  Margin-top: 22px; }

.mt-23 {
  Margin-top: 23px; }

.mt-24 {
  Margin-top: 24px; }

.mt-25 {
  Margin-top: 25px; }

.mt-26 {
  Margin-top: 26px; }

.mt-27 {
  Margin-top: 27px; }

.mt-28 {
  Margin-top: 28px; }

.mt-29 {
  Margin-top: 29px; }

.mt-30 {
  Margin-top: 30px; }

.mt-31 {
  Margin-top: 31px; }

.mt-32 {
  Margin-top: 32px; }

.mt-33 {
  Margin-top: 33px; }

.mt-34 {
  Margin-top: 34px; }

.mt-35 {
  Margin-top: 35px; }

.mt-36 {
  Margin-top: 36px; }

.mt-37 {
  Margin-top: 37px; }

.mt-38 {
  Margin-top: 38px; }

.mt-39 {
  Margin-top: 39px; }

.mt-40 {
  Margin-top: 40px; }

.mt-41 {
  Margin-top: 41px; }

.mt-42 {
  Margin-top: 42px; }

.mt-43 {
  Margin-top: 43px; }

.mt-44 {
  Margin-top: 44px; }

.mt-45 {
  Margin-top: 45px; }

.mt-46 {
  Margin-top: 46px; }

.mt-47 {
  Margin-top: 47px; }

.mt-48 {
  Margin-top: 48px; }

.mt-49 {
  Margin-top: 49px; }

.mt-50 {
  Margin-top: 50px; }

.mt-51 {
  Margin-top: 51px; }

.mt-52 {
  Margin-top: 52px; }

.mt-53 {
  Margin-top: 53px; }

.mt-54 {
  Margin-top: 54px; }

.mt-55 {
  Margin-top: 55px; }

.mt-56 {
  Margin-top: 56px; }

.mt-57 {
  Margin-top: 57px; }

.mt-58 {
  Margin-top: 58px; }

.mt-59 {
  Margin-top: 59px; }

.mt-60 {
  Margin-top: 60px; }

.mt-61 {
  Margin-top: 61px; }

.mt-62 {
  Margin-top: 62px; }

.mt-63 {
  Margin-top: 63px; }

.mt-64 {
  Margin-top: 64px; }

.mt-65 {
  Margin-top: 65px; }

.mt-66 {
  Margin-top: 66px; }

.mt-67 {
  Margin-top: 67px; }

.mt-68 {
  Margin-top: 68px; }

.mt-69 {
  Margin-top: 69px; }

.mt-70 {
  Margin-top: 70px; }

.mt-71 {
  Margin-top: 71px; }

.mt-72 {
  Margin-top: 72px; }

.mt-73 {
  Margin-top: 73px; }

.mt-74 {
  Margin-top: 74px; }

.mt-75 {
  Margin-top: 75px; }

.mt-76 {
  Margin-top: 76px; }

.mt-77 {
  Margin-top: 77px; }

.mt-78 {
  Margin-top: 78px; }

.mt-79 {
  Margin-top: 79px; }

.mt-80 {
  Margin-top: 80px; }

.mt-81 {
  Margin-top: 81px; }

.mt-82 {
  Margin-top: 82px; }

.mt-83 {
  Margin-top: 83px; }

.mt-84 {
  Margin-top: 84px; }

.mt-85 {
  Margin-top: 85px; }

.mt-86 {
  Margin-top: 86px; }

.mt-87 {
  Margin-top: 87px; }

.mt-88 {
  Margin-top: 88px; }

.mt-89 {
  Margin-top: 89px; }

.mt-90 {
  Margin-top: 90px; }

.mt-91 {
  Margin-top: 91px; }

.mt-92 {
  Margin-top: 92px; }

.mt-93 {
  Margin-top: 93px; }

.mt-94 {
  Margin-top: 94px; }

.mt-95 {
  Margin-top: 95px; }

.mt-96 {
  Margin-top: 96px; }

.mt-97 {
  Margin-top: 97px; }

.mt-98 {
  Margin-top: 98px; }

.mt-99 {
  Margin-top: 99px; }

.mt-100 {
  Margin-top: 100px; }

.mb-1 {
  Margin-bottom: 1px; }

.mb-2 {
  Margin-bottom: 2px; }

.mb-3 {
  Margin-bottom: 3px; }

.mb-4 {
  Margin-bottom: 4px; }

.mb-5 {
  Margin-bottom: 5px; }

.mb-6 {
  Margin-bottom: 6px; }

.mb-7 {
  Margin-bottom: 7px; }

.mb-8 {
  Margin-bottom: 8px; }

.mb-9 {
  Margin-bottom: 9px; }

.mb-10 {
  Margin-bottom: 10px; }

.mb-11 {
  Margin-bottom: 11px; }

.mb-12 {
  Margin-bottom: 12px; }

.mb-13 {
  Margin-bottom: 13px; }

.mb-14 {
  Margin-bottom: 14px; }

.mb-15 {
  Margin-bottom: 15px; }

.mb-16 {
  Margin-bottom: 16px; }

.mb-17 {
  Margin-bottom: 17px; }

.mb-18 {
  Margin-bottom: 18px; }

.mb-19 {
  Margin-bottom: 19px; }

.mb-20 {
  Margin-bottom: 20px; }

.mb-21 {
  Margin-bottom: 21px; }

.mb-22 {
  Margin-bottom: 22px; }

.mb-23 {
  Margin-bottom: 23px; }

.mb-24 {
  Margin-bottom: 24px; }

.mb-25 {
  Margin-bottom: 25px; }

.mb-26 {
  Margin-bottom: 26px; }

.mb-27 {
  Margin-bottom: 27px; }

.mb-28 {
  Margin-bottom: 28px; }

.mb-29 {
  Margin-bottom: 29px; }

.mb-30 {
  Margin-bottom: 30px; }

.mb-31 {
  Margin-bottom: 31px; }

.mb-32 {
  Margin-bottom: 32px; }

.mb-33 {
  Margin-bottom: 33px; }

.mb-34 {
  Margin-bottom: 34px; }

.mb-35 {
  Margin-bottom: 35px; }

.mb-36 {
  Margin-bottom: 36px; }

.mb-37 {
  Margin-bottom: 37px; }

.mb-38 {
  Margin-bottom: 38px; }

.mb-39 {
  Margin-bottom: 39px; }

.mb-40 {
  Margin-bottom: 40px; }

.mb-41 {
  Margin-bottom: 41px; }

.mb-42 {
  Margin-bottom: 42px; }

.mb-43 {
  Margin-bottom: 43px; }

.mb-44 {
  Margin-bottom: 44px; }

.mb-45 {
  Margin-bottom: 45px; }

.mb-46 {
  Margin-bottom: 46px; }

.mb-47 {
  Margin-bottom: 47px; }

.mb-48 {
  Margin-bottom: 48px; }

.mb-49 {
  Margin-bottom: 49px; }

.mb-50 {
  Margin-bottom: 50px; }

.mb-51 {
  Margin-bottom: 51px; }

.mb-52 {
  Margin-bottom: 52px; }

.mb-53 {
  Margin-bottom: 53px; }

.mb-54 {
  Margin-bottom: 54px; }

.mb-55 {
  Margin-bottom: 55px; }

.mb-56 {
  Margin-bottom: 56px; }

.mb-57 {
  Margin-bottom: 57px; }

.mb-58 {
  Margin-bottom: 58px; }

.mb-59 {
  Margin-bottom: 59px; }

.mb-60 {
  Margin-bottom: 60px; }

.mb-61 {
  Margin-bottom: 61px; }

.mb-62 {
  Margin-bottom: 62px; }

.mb-63 {
  Margin-bottom: 63px; }

.mb-64 {
  Margin-bottom: 64px; }

.mb-65 {
  Margin-bottom: 65px; }

.mb-66 {
  Margin-bottom: 66px; }

.mb-67 {
  Margin-bottom: 67px; }

.mb-68 {
  Margin-bottom: 68px; }

.mb-69 {
  Margin-bottom: 69px; }

.mb-70 {
  Margin-bottom: 70px; }

.mb-71 {
  Margin-bottom: 71px; }

.mb-72 {
  Margin-bottom: 72px; }

.mb-73 {
  Margin-bottom: 73px; }

.mb-74 {
  Margin-bottom: 74px; }

.mb-75 {
  Margin-bottom: 75px; }

.mb-76 {
  Margin-bottom: 76px; }

.mb-77 {
  Margin-bottom: 77px; }

.mb-78 {
  Margin-bottom: 78px; }

.mb-79 {
  Margin-bottom: 79px; }

.mb-80 {
  Margin-bottom: 80px; }

.mb-81 {
  Margin-bottom: 81px; }

.mb-82 {
  Margin-bottom: 82px; }

.mb-83 {
  Margin-bottom: 83px; }

.mb-84 {
  Margin-bottom: 84px; }

.mb-85 {
  Margin-bottom: 85px; }

.mb-86 {
  Margin-bottom: 86px; }

.mb-87 {
  Margin-bottom: 87px; }

.mb-88 {
  Margin-bottom: 88px; }

.mb-89 {
  Margin-bottom: 89px; }

.mb-90 {
  Margin-bottom: 90px; }

.mb-91 {
  Margin-bottom: 91px; }

.mb-92 {
  Margin-bottom: 92px; }

.mb-93 {
  Margin-bottom: 93px; }

.mb-94 {
  Margin-bottom: 94px; }

.mb-95 {
  Margin-bottom: 95px; }

.mb-96 {
  Margin-bottom: 96px; }

.mb-97 {
  Margin-bottom: 97px; }

.mb-98 {
  Margin-bottom: 98px; }

.mb-99 {
  Margin-bottom: 99px; }

.mb-100 {
  Margin-bottom: 100px; }

.ml-1 {
  Margin-left: 1px; }

.ml-2 {
  Margin-left: 2px; }

.ml-3 {
  Margin-left: 3px; }

.ml-4 {
  Margin-left: 4px; }

.ml-5 {
  Margin-left: 5px; }

.ml-6 {
  Margin-left: 6px; }

.ml-7 {
  Margin-left: 7px; }

.ml-8 {
  Margin-left: 8px; }

.ml-9 {
  Margin-left: 9px; }

.ml-10 {
  Margin-left: 10px; }

.ml-11 {
  Margin-left: 11px; }

.ml-12 {
  Margin-left: 12px; }

.ml-13 {
  Margin-left: 13px; }

.ml-14 {
  Margin-left: 14px; }

.ml-15 {
  Margin-left: 15px; }

.ml-16 {
  Margin-left: 16px; }

.ml-17 {
  Margin-left: 17px; }

.ml-18 {
  Margin-left: 18px; }

.ml-19 {
  Margin-left: 19px; }

.ml-20 {
  Margin-left: 20px; }

.ml-21 {
  Margin-left: 21px; }

.ml-22 {
  Margin-left: 22px; }

.ml-23 {
  Margin-left: 23px; }

.ml-24 {
  Margin-left: 24px; }

.ml-25 {
  Margin-left: 25px; }

.ml-26 {
  Margin-left: 26px; }

.ml-27 {
  Margin-left: 27px; }

.ml-28 {
  Margin-left: 28px; }

.ml-29 {
  Margin-left: 29px; }

.ml-30 {
  Margin-left: 30px; }

.ml-31 {
  Margin-left: 31px; }

.ml-32 {
  Margin-left: 32px; }

.ml-33 {
  Margin-left: 33px; }

.ml-34 {
  Margin-left: 34px; }

.ml-35 {
  Margin-left: 35px; }

.ml-36 {
  Margin-left: 36px; }

.ml-37 {
  Margin-left: 37px; }

.ml-38 {
  Margin-left: 38px; }

.ml-39 {
  Margin-left: 39px; }

.ml-40 {
  Margin-left: 40px; }

.ml-41 {
  Margin-left: 41px; }

.ml-42 {
  Margin-left: 42px; }

.ml-43 {
  Margin-left: 43px; }

.ml-44 {
  Margin-left: 44px; }

.ml-45 {
  Margin-left: 45px; }

.ml-46 {
  Margin-left: 46px; }

.ml-47 {
  Margin-left: 47px; }

.ml-48 {
  Margin-left: 48px; }

.ml-49 {
  Margin-left: 49px; }

.ml-50 {
  Margin-left: 50px; }

.ml-51 {
  Margin-left: 51px; }

.ml-52 {
  Margin-left: 52px; }

.ml-53 {
  Margin-left: 53px; }

.ml-54 {
  Margin-left: 54px; }

.ml-55 {
  Margin-left: 55px; }

.ml-56 {
  Margin-left: 56px; }

.ml-57 {
  Margin-left: 57px; }

.ml-58 {
  Margin-left: 58px; }

.ml-59 {
  Margin-left: 59px; }

.ml-60 {
  Margin-left: 60px; }

.ml-61 {
  Margin-left: 61px; }

.ml-62 {
  Margin-left: 62px; }

.ml-63 {
  Margin-left: 63px; }

.ml-64 {
  Margin-left: 64px; }

.ml-65 {
  Margin-left: 65px; }

.ml-66 {
  Margin-left: 66px; }

.ml-67 {
  Margin-left: 67px; }

.ml-68 {
  Margin-left: 68px; }

.ml-69 {
  Margin-left: 69px; }

.ml-70 {
  Margin-left: 70px; }

.ml-71 {
  Margin-left: 71px; }

.ml-72 {
  Margin-left: 72px; }

.ml-73 {
  Margin-left: 73px; }

.ml-74 {
  Margin-left: 74px; }

.ml-75 {
  Margin-left: 75px; }

.ml-76 {
  Margin-left: 76px; }

.ml-77 {
  Margin-left: 77px; }

.ml-78 {
  Margin-left: 78px; }

.ml-79 {
  Margin-left: 79px; }

.ml-80 {
  Margin-left: 80px; }

.ml-81 {
  Margin-left: 81px; }

.ml-82 {
  Margin-left: 82px; }

.ml-83 {
  Margin-left: 83px; }

.ml-84 {
  Margin-left: 84px; }

.ml-85 {
  Margin-left: 85px; }

.ml-86 {
  Margin-left: 86px; }

.ml-87 {
  Margin-left: 87px; }

.ml-88 {
  Margin-left: 88px; }

.ml-89 {
  Margin-left: 89px; }

.ml-90 {
  Margin-left: 90px; }

.ml-91 {
  Margin-left: 91px; }

.ml-92 {
  Margin-left: 92px; }

.ml-93 {
  Margin-left: 93px; }

.ml-94 {
  Margin-left: 94px; }

.ml-95 {
  Margin-left: 95px; }

.ml-96 {
  Margin-left: 96px; }

.ml-97 {
  Margin-left: 97px; }

.ml-98 {
  Margin-left: 98px; }

.ml-99 {
  Margin-left: 99px; }

.ml-100 {
  Margin-left: 100px; }

.mr-1 {
  Margin-right: 1px; }

.mr-2 {
  Margin-right: 2px; }

.mr-3 {
  Margin-right: 3px; }

.mr-4 {
  Margin-right: 4px; }

.mr-5 {
  Margin-right: 5px; }

.mr-6 {
  Margin-right: 6px; }

.mr-7 {
  Margin-right: 7px; }

.mr-8 {
  Margin-right: 8px; }

.mr-9 {
  Margin-right: 9px; }

.mr-10 {
  Margin-right: 10px; }

.mr-11 {
  Margin-right: 11px; }

.mr-12 {
  Margin-right: 12px; }

.mr-13 {
  Margin-right: 13px; }

.mr-14 {
  Margin-right: 14px; }

.mr-15 {
  Margin-right: 15px; }

.mr-16 {
  Margin-right: 16px; }

.mr-17 {
  Margin-right: 17px; }

.mr-18 {
  Margin-right: 18px; }

.mr-19 {
  Margin-right: 19px; }

.mr-20 {
  Margin-right: 20px; }

.mr-21 {
  Margin-right: 21px; }

.mr-22 {
  Margin-right: 22px; }

.mr-23 {
  Margin-right: 23px; }

.mr-24 {
  Margin-right: 24px; }

.mr-25 {
  Margin-right: 25px; }

.mr-26 {
  Margin-right: 26px; }

.mr-27 {
  Margin-right: 27px; }

.mr-28 {
  Margin-right: 28px; }

.mr-29 {
  Margin-right: 29px; }

.mr-30 {
  Margin-right: 30px; }

.mr-31 {
  Margin-right: 31px; }

.mr-32 {
  Margin-right: 32px; }

.mr-33 {
  Margin-right: 33px; }

.mr-34 {
  Margin-right: 34px; }

.mr-35 {
  Margin-right: 35px; }

.mr-36 {
  Margin-right: 36px; }

.mr-37 {
  Margin-right: 37px; }

.mr-38 {
  Margin-right: 38px; }

.mr-39 {
  Margin-right: 39px; }

.mr-40 {
  Margin-right: 40px; }

.mr-41 {
  Margin-right: 41px; }

.mr-42 {
  Margin-right: 42px; }

.mr-43 {
  Margin-right: 43px; }

.mr-44 {
  Margin-right: 44px; }

.mr-45 {
  Margin-right: 45px; }

.mr-46 {
  Margin-right: 46px; }

.mr-47 {
  Margin-right: 47px; }

.mr-48 {
  Margin-right: 48px; }

.mr-49 {
  Margin-right: 49px; }

.mr-50 {
  Margin-right: 50px; }

.mr-51 {
  Margin-right: 51px; }

.mr-52 {
  Margin-right: 52px; }

.mr-53 {
  Margin-right: 53px; }

.mr-54 {
  Margin-right: 54px; }

.mr-55 {
  Margin-right: 55px; }

.mr-56 {
  Margin-right: 56px; }

.mr-57 {
  Margin-right: 57px; }

.mr-58 {
  Margin-right: 58px; }

.mr-59 {
  Margin-right: 59px; }

.mr-60 {
  Margin-right: 60px; }

.mr-61 {
  Margin-right: 61px; }

.mr-62 {
  Margin-right: 62px; }

.mr-63 {
  Margin-right: 63px; }

.mr-64 {
  Margin-right: 64px; }

.mr-65 {
  Margin-right: 65px; }

.mr-66 {
  Margin-right: 66px; }

.mr-67 {
  Margin-right: 67px; }

.mr-68 {
  Margin-right: 68px; }

.mr-69 {
  Margin-right: 69px; }

.mr-70 {
  Margin-right: 70px; }

.mr-71 {
  Margin-right: 71px; }

.mr-72 {
  Margin-right: 72px; }

.mr-73 {
  Margin-right: 73px; }

.mr-74 {
  Margin-right: 74px; }

.mr-75 {
  Margin-right: 75px; }

.mr-76 {
  Margin-right: 76px; }

.mr-77 {
  Margin-right: 77px; }

.mr-78 {
  Margin-right: 78px; }

.mr-79 {
  Margin-right: 79px; }

.mr-80 {
  Margin-right: 80px; }

.mr-81 {
  Margin-right: 81px; }

.mr-82 {
  Margin-right: 82px; }

.mr-83 {
  Margin-right: 83px; }

.mr-84 {
  Margin-right: 84px; }

.mr-85 {
  Margin-right: 85px; }

.mr-86 {
  Margin-right: 86px; }

.mr-87 {
  Margin-right: 87px; }

.mr-88 {
  Margin-right: 88px; }

.mr-89 {
  Margin-right: 89px; }

.mr-90 {
  Margin-right: 90px; }

.mr-91 {
  Margin-right: 91px; }

.mr-92 {
  Margin-right: 92px; }

.mr-93 {
  Margin-right: 93px; }

.mr-94 {
  Margin-right: 94px; }

.mr-95 {
  Margin-right: 95px; }

.mr-96 {
  Margin-right: 96px; }

.mr-97 {
  Margin-right: 97px; }

.mr-98 {
  Margin-right: 98px; }

.mr-99 {
  Margin-right: 99px; }

.mr-100 {
  Margin-right: 100px; }

.no-padding {
  padding: 0 !important; }

.pt-1 {
  padding-top: 1px !important; }

.pt-2 {
  padding-top: 2px !important; }

.pt-3 {
  padding-top: 3px !important; }

.pt-4 {
  padding-top: 4px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-6 {
  padding-top: 6px !important; }

.pt-7 {
  padding-top: 7px !important; }

.pt-8 {
  padding-top: 8px !important; }

.pt-9 {
  padding-top: 9px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-11 {
  padding-top: 11px !important; }

.pt-12 {
  padding-top: 12px !important; }

.pt-13 {
  padding-top: 13px !important; }

.pt-14 {
  padding-top: 14px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-16 {
  padding-top: 16px !important; }

.pt-17 {
  padding-top: 17px !important; }

.pt-18 {
  padding-top: 18px !important; }

.pt-19 {
  padding-top: 19px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-21 {
  padding-top: 21px !important; }

.pt-22 {
  padding-top: 22px !important; }

.pt-23 {
  padding-top: 23px !important; }

.pt-24 {
  padding-top: 24px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pt-26 {
  padding-top: 26px !important; }

.pt-27 {
  padding-top: 27px !important; }

.pt-28 {
  padding-top: 28px !important; }

.pt-29 {
  padding-top: 29px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-31 {
  padding-top: 31px !important; }

.pt-32 {
  padding-top: 32px !important; }

.pt-33 {
  padding-top: 33px !important; }

.pt-34 {
  padding-top: 34px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pt-36 {
  padding-top: 36px !important; }

.pt-37 {
  padding-top: 37px !important; }

.pt-38 {
  padding-top: 38px !important; }

.pt-39 {
  padding-top: 39px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-41 {
  padding-top: 41px !important; }

.pt-42 {
  padding-top: 42px !important; }

.pt-43 {
  padding-top: 43px !important; }

.pt-44 {
  padding-top: 44px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pt-46 {
  padding-top: 46px !important; }

.pt-47 {
  padding-top: 47px !important; }

.pt-48 {
  padding-top: 48px !important; }

.pt-49 {
  padding-top: 49px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pt-51 {
  padding-top: 51px !important; }

.pt-52 {
  padding-top: 52px !important; }

.pt-53 {
  padding-top: 53px !important; }

.pt-54 {
  padding-top: 54px !important; }

.pt-55 {
  padding-top: 55px !important; }

.pt-56 {
  padding-top: 56px !important; }

.pt-57 {
  padding-top: 57px !important; }

.pt-58 {
  padding-top: 58px !important; }

.pt-59 {
  padding-top: 59px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pt-61 {
  padding-top: 61px !important; }

.pt-62 {
  padding-top: 62px !important; }

.pt-63 {
  padding-top: 63px !important; }

.pt-64 {
  padding-top: 64px !important; }

.pt-65 {
  padding-top: 65px !important; }

.pt-66 {
  padding-top: 66px !important; }

.pt-67 {
  padding-top: 67px !important; }

.pt-68 {
  padding-top: 68px !important; }

.pt-69 {
  padding-top: 69px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pt-71 {
  padding-top: 71px !important; }

.pt-72 {
  padding-top: 72px !important; }

.pt-73 {
  padding-top: 73px !important; }

.pt-74 {
  padding-top: 74px !important; }

.pt-75 {
  padding-top: 75px !important; }

.pt-76 {
  padding-top: 76px !important; }

.pt-77 {
  padding-top: 77px !important; }

.pt-78 {
  padding-top: 78px !important; }

.pt-79 {
  padding-top: 79px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pt-81 {
  padding-top: 81px !important; }

.pt-82 {
  padding-top: 82px !important; }

.pt-83 {
  padding-top: 83px !important; }

.pt-84 {
  padding-top: 84px !important; }

.pt-85 {
  padding-top: 85px !important; }

.pt-86 {
  padding-top: 86px !important; }

.pt-87 {
  padding-top: 87px !important; }

.pt-88 {
  padding-top: 88px !important; }

.pt-89 {
  padding-top: 89px !important; }

.pt-90 {
  padding-top: 90px !important; }

.pt-91 {
  padding-top: 91px !important; }

.pt-92 {
  padding-top: 92px !important; }

.pt-93 {
  padding-top: 93px !important; }

.pt-94 {
  padding-top: 94px !important; }

.pt-95 {
  padding-top: 95px !important; }

.pt-96 {
  padding-top: 96px !important; }

.pt-97 {
  padding-top: 97px !important; }

.pt-98 {
  padding-top: 98px !important; }

.pt-99 {
  padding-top: 99px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pb-1 {
  padding-bottom: 1px !important; }

.pb-2 {
  padding-bottom: 2px !important; }

.pb-3 {
  padding-bottom: 3px !important; }

.pb-4 {
  padding-bottom: 4px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-6 {
  padding-bottom: 6px !important; }

.pb-7 {
  padding-bottom: 7px !important; }

.pb-8 {
  padding-bottom: 8px !important; }

.pb-9 {
  padding-bottom: 9px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-11 {
  padding-bottom: 11px !important; }

.pb-12 {
  padding-bottom: 12px !important; }

.pb-13 {
  padding-bottom: 13px !important; }

.pb-14 {
  padding-bottom: 14px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-16 {
  padding-bottom: 16px !important; }

.pb-17 {
  padding-bottom: 17px !important; }

.pb-18 {
  padding-bottom: 18px !important; }

.pb-19 {
  padding-bottom: 19px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-21 {
  padding-bottom: 21px !important; }

.pb-22 {
  padding-bottom: 22px !important; }

.pb-23 {
  padding-bottom: 23px !important; }

.pb-24 {
  padding-bottom: 24px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-26 {
  padding-bottom: 26px !important; }

.pb-27 {
  padding-bottom: 27px !important; }

.pb-28 {
  padding-bottom: 28px !important; }

.pb-29 {
  padding-bottom: 29px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-31 {
  padding-bottom: 31px !important; }

.pb-32 {
  padding-bottom: 32px !important; }

.pb-33 {
  padding-bottom: 33px !important; }

.pb-34 {
  padding-bottom: 34px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pb-36 {
  padding-bottom: 36px !important; }

.pb-37 {
  padding-bottom: 37px !important; }

.pb-38 {
  padding-bottom: 38px !important; }

.pb-39 {
  padding-bottom: 39px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-41 {
  padding-bottom: 41px !important; }

.pb-42 {
  padding-bottom: 42px !important; }

.pb-43 {
  padding-bottom: 43px !important; }

.pb-44 {
  padding-bottom: 44px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pb-46 {
  padding-bottom: 46px !important; }

.pb-47 {
  padding-bottom: 47px !important; }

.pb-48 {
  padding-bottom: 48px !important; }

.pb-49 {
  padding-bottom: 49px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pb-51 {
  padding-bottom: 51px !important; }

.pb-52 {
  padding-bottom: 52px !important; }

.pb-53 {
  padding-bottom: 53px !important; }

.pb-54 {
  padding-bottom: 54px !important; }

.pb-55 {
  padding-bottom: 55px !important; }

.pb-56 {
  padding-bottom: 56px !important; }

.pb-57 {
  padding-bottom: 57px !important; }

.pb-58 {
  padding-bottom: 58px !important; }

.pb-59 {
  padding-bottom: 59px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pb-61 {
  padding-bottom: 61px !important; }

.pb-62 {
  padding-bottom: 62px !important; }

.pb-63 {
  padding-bottom: 63px !important; }

.pb-64 {
  padding-bottom: 64px !important; }

.pb-65 {
  padding-bottom: 65px !important; }

.pb-66 {
  padding-bottom: 66px !important; }

.pb-67 {
  padding-bottom: 67px !important; }

.pb-68 {
  padding-bottom: 68px !important; }

.pb-69 {
  padding-bottom: 69px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-71 {
  padding-bottom: 71px !important; }

.pb-72 {
  padding-bottom: 72px !important; }

.pb-73 {
  padding-bottom: 73px !important; }

.pb-74 {
  padding-bottom: 74px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.pb-76 {
  padding-bottom: 76px !important; }

.pb-77 {
  padding-bottom: 77px !important; }

.pb-78 {
  padding-bottom: 78px !important; }

.pb-79 {
  padding-bottom: 79px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pb-81 {
  padding-bottom: 81px !important; }

.pb-82 {
  padding-bottom: 82px !important; }

.pb-83 {
  padding-bottom: 83px !important; }

.pb-84 {
  padding-bottom: 84px !important; }

.pb-85 {
  padding-bottom: 85px !important; }

.pb-86 {
  padding-bottom: 86px !important; }

.pb-87 {
  padding-bottom: 87px !important; }

.pb-88 {
  padding-bottom: 88px !important; }

.pb-89 {
  padding-bottom: 89px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pb-91 {
  padding-bottom: 91px !important; }

.pb-92 {
  padding-bottom: 92px !important; }

.pb-93 {
  padding-bottom: 93px !important; }

.pb-94 {
  padding-bottom: 94px !important; }

.pb-95 {
  padding-bottom: 95px !important; }

.pb-96 {
  padding-bottom: 96px !important; }

.pb-97 {
  padding-bottom: 97px !important; }

.pb-98 {
  padding-bottom: 98px !important; }

.pb-99 {
  padding-bottom: 99px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pl-1 {
  padding-left: 1px !important; }

.pl-2 {
  padding-left: 2px !important; }

.pl-3 {
  padding-left: 3px !important; }

.pl-4 {
  padding-left: 4px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-6 {
  padding-left: 6px !important; }

.pl-7 {
  padding-left: 7px !important; }

.pl-8 {
  padding-left: 8px !important; }

.pl-9 {
  padding-left: 9px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-11 {
  padding-left: 11px !important; }

.pl-12 {
  padding-left: 12px !important; }

.pl-13 {
  padding-left: 13px !important; }

.pl-14 {
  padding-left: 14px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-16 {
  padding-left: 16px !important; }

.pl-17 {
  padding-left: 17px !important; }

.pl-18 {
  padding-left: 18px !important; }

.pl-19 {
  padding-left: 19px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-21 {
  padding-left: 21px !important; }

.pl-22 {
  padding-left: 22px !important; }

.pl-23 {
  padding-left: 23px !important; }

.pl-24 {
  padding-left: 24px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pl-26 {
  padding-left: 26px !important; }

.pl-27 {
  padding-left: 27px !important; }

.pl-28 {
  padding-left: 28px !important; }

.pl-29 {
  padding-left: 29px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-31 {
  padding-left: 31px !important; }

.pl-32 {
  padding-left: 32px !important; }

.pl-33 {
  padding-left: 33px !important; }

.pl-34 {
  padding-left: 34px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pl-36 {
  padding-left: 36px !important; }

.pl-37 {
  padding-left: 37px !important; }

.pl-38 {
  padding-left: 38px !important; }

.pl-39 {
  padding-left: 39px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-41 {
  padding-left: 41px !important; }

.pl-42 {
  padding-left: 42px !important; }

.pl-43 {
  padding-left: 43px !important; }

.pl-44 {
  padding-left: 44px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pl-46 {
  padding-left: 46px !important; }

.pl-47 {
  padding-left: 47px !important; }

.pl-48 {
  padding-left: 48px !important; }

.pl-49 {
  padding-left: 49px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pl-51 {
  padding-left: 51px !important; }

.pl-52 {
  padding-left: 52px !important; }

.pl-53 {
  padding-left: 53px !important; }

.pl-54 {
  padding-left: 54px !important; }

.pl-55 {
  padding-left: 55px !important; }

.pl-56 {
  padding-left: 56px !important; }

.pl-57 {
  padding-left: 57px !important; }

.pl-58 {
  padding-left: 58px !important; }

.pl-59 {
  padding-left: 59px !important; }

.pl-60 {
  padding-left: 60px !important; }

.pl-61 {
  padding-left: 61px !important; }

.pl-62 {
  padding-left: 62px !important; }

.pl-63 {
  padding-left: 63px !important; }

.pl-64 {
  padding-left: 64px !important; }

.pl-65 {
  padding-left: 65px !important; }

.pl-66 {
  padding-left: 66px !important; }

.pl-67 {
  padding-left: 67px !important; }

.pl-68 {
  padding-left: 68px !important; }

.pl-69 {
  padding-left: 69px !important; }

.pl-70 {
  padding-left: 70px !important; }

.pl-71 {
  padding-left: 71px !important; }

.pl-72 {
  padding-left: 72px !important; }

.pl-73 {
  padding-left: 73px !important; }

.pl-74 {
  padding-left: 74px !important; }

.pl-75 {
  padding-left: 75px !important; }

.pl-76 {
  padding-left: 76px !important; }

.pl-77 {
  padding-left: 77px !important; }

.pl-78 {
  padding-left: 78px !important; }

.pl-79 {
  padding-left: 79px !important; }

.pl-80 {
  padding-left: 80px !important; }

.pl-81 {
  padding-left: 81px !important; }

.pl-82 {
  padding-left: 82px !important; }

.pl-83 {
  padding-left: 83px !important; }

.pl-84 {
  padding-left: 84px !important; }

.pl-85 {
  padding-left: 85px !important; }

.pl-86 {
  padding-left: 86px !important; }

.pl-87 {
  padding-left: 87px !important; }

.pl-88 {
  padding-left: 88px !important; }

.pl-89 {
  padding-left: 89px !important; }

.pl-90 {
  padding-left: 90px !important; }

.pl-91 {
  padding-left: 91px !important; }

.pl-92 {
  padding-left: 92px !important; }

.pl-93 {
  padding-left: 93px !important; }

.pl-94 {
  padding-left: 94px !important; }

.pl-95 {
  padding-left: 95px !important; }

.pl-96 {
  padding-left: 96px !important; }

.pl-97 {
  padding-left: 97px !important; }

.pl-98 {
  padding-left: 98px !important; }

.pl-99 {
  padding-left: 99px !important; }

.pl-100 {
  padding-left: 100px !important; }

.pr-1 {
  padding-right: 1px !important; }

.pr-2 {
  padding-right: 2px !important; }

.pr-3 {
  padding-right: 3px !important; }

.pr-4 {
  padding-right: 4px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-6 {
  padding-right: 6px !important; }

.pr-7 {
  padding-right: 7px !important; }

.pr-8 {
  padding-right: 8px !important; }

.pr-9 {
  padding-right: 9px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-11 {
  padding-right: 11px !important; }

.pr-12 {
  padding-right: 12px !important; }

.pr-13 {
  padding-right: 13px !important; }

.pr-14 {
  padding-right: 14px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-16 {
  padding-right: 16px !important; }

.pr-17 {
  padding-right: 17px !important; }

.pr-18 {
  padding-right: 18px !important; }

.pr-19 {
  padding-right: 19px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-21 {
  padding-right: 21px !important; }

.pr-22 {
  padding-right: 22px !important; }

.pr-23 {
  padding-right: 23px !important; }

.pr-24 {
  padding-right: 24px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pr-26 {
  padding-right: 26px !important; }

.pr-27 {
  padding-right: 27px !important; }

.pr-28 {
  padding-right: 28px !important; }

.pr-29 {
  padding-right: 29px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pr-31 {
  padding-right: 31px !important; }

.pr-32 {
  padding-right: 32px !important; }

.pr-33 {
  padding-right: 33px !important; }

.pr-34 {
  padding-right: 34px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pr-36 {
  padding-right: 36px !important; }

.pr-37 {
  padding-right: 37px !important; }

.pr-38 {
  padding-right: 38px !important; }

.pr-39 {
  padding-right: 39px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pr-41 {
  padding-right: 41px !important; }

.pr-42 {
  padding-right: 42px !important; }

.pr-43 {
  padding-right: 43px !important; }

.pr-44 {
  padding-right: 44px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pr-46 {
  padding-right: 46px !important; }

.pr-47 {
  padding-right: 47px !important; }

.pr-48 {
  padding-right: 48px !important; }

.pr-49 {
  padding-right: 49px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pr-51 {
  padding-right: 51px !important; }

.pr-52 {
  padding-right: 52px !important; }

.pr-53 {
  padding-right: 53px !important; }

.pr-54 {
  padding-right: 54px !important; }

.pr-55 {
  padding-right: 55px !important; }

.pr-56 {
  padding-right: 56px !important; }

.pr-57 {
  padding-right: 57px !important; }

.pr-58 {
  padding-right: 58px !important; }

.pr-59 {
  padding-right: 59px !important; }

.pr-60 {
  padding-right: 60px !important; }

.pr-61 {
  padding-right: 61px !important; }

.pr-62 {
  padding-right: 62px !important; }

.pr-63 {
  padding-right: 63px !important; }

.pr-64 {
  padding-right: 64px !important; }

.pr-65 {
  padding-right: 65px !important; }

.pr-66 {
  padding-right: 66px !important; }

.pr-67 {
  padding-right: 67px !important; }

.pr-68 {
  padding-right: 68px !important; }

.pr-69 {
  padding-right: 69px !important; }

.pr-70 {
  padding-right: 70px !important; }

.pr-71 {
  padding-right: 71px !important; }

.pr-72 {
  padding-right: 72px !important; }

.pr-73 {
  padding-right: 73px !important; }

.pr-74 {
  padding-right: 74px !important; }

.pr-75 {
  padding-right: 75px !important; }

.pr-76 {
  padding-right: 76px !important; }

.pr-77 {
  padding-right: 77px !important; }

.pr-78 {
  padding-right: 78px !important; }

.pr-79 {
  padding-right: 79px !important; }

.pr-80 {
  padding-right: 80px !important; }

.pr-81 {
  padding-right: 81px !important; }

.pr-82 {
  padding-right: 82px !important; }

.pr-83 {
  padding-right: 83px !important; }

.pr-84 {
  padding-right: 84px !important; }

.pr-85 {
  padding-right: 85px !important; }

.pr-86 {
  padding-right: 86px !important; }

.pr-87 {
  padding-right: 87px !important; }

.pr-88 {
  padding-right: 88px !important; }

.pr-89 {
  padding-right: 89px !important; }

.pr-90 {
  padding-right: 90px !important; }

.pr-91 {
  padding-right: 91px !important; }

.pr-92 {
  padding-right: 92px !important; }

.pr-93 {
  padding-right: 93px !important; }

.pr-94 {
  padding-right: 94px !important; }

.pr-95 {
  padding-right: 95px !important; }

.pr-96 {
  padding-right: 96px !important; }

.pr-97 {
  padding-right: 97px !important; }

.pr-98 {
  padding-right: 98px !important; }

.pr-99 {
  padding-right: 99px !important; }

.pr-100 {
  padding-right: 100px !important; }

.no-font-size {
  font-size: 0px; }

.main-font-size {
  font-size: 14px; }

.large-font-size {
  font-size: 18px; }

.small-font-size {
  font-size: 10px; }

.h1 {
  font-size: 24px;
  font-weight: bold; }

.h2 {
  font-size: 22px;
  font-weight: bold; }

.h3 {
  font-size: 18px;
  font-weight: bold; }

.h4 {
  font-size: 16px;
  font-weight: bold; }

.h5 {
  font-size: 12px;
  font-weight: bold; }

.h6 {
  font-size: 10px;
  font-weight: bold; }
